#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
	album_art_position: Left,
	album_art_width_percent: 40,
	default_album_art_path: None,
	show_song_table_header: true,
	draw_borders: true,
	browser_column_widths: [20, 38, 42],

	background_color: "#000823",
	text_color: "#656b88",
	header_background_color: "#091129",
	modal_background_color: None,
	
	tab_bar: (
		enabled: true,
		active_style: (fg: "#656b88", bg: "#000823"),
		inactive_style: (),
	),
	highlighted_item_style: (fg: "#eee8d5", bg: "#141c34"),
	current_item_style: (fg: "#eee8d5", bg: "#4f4872"),
	borders_style: (fg: "#7e84a3"),
	highlight_border_style: (fg: "#7e84a3"),
	symbols: (song: " ", dir: "-", marker: ">", ellipsis: "..."),
	progress_bar: (
		symbols: ["-", ">", "-"],
		track_style: (fg: "#656b88"),
		elapsed_style: (fg: "#4f4872"),
		thumb_style: (fg: "#4f4872"),
	),
	scrollbar: (
		symbols: ["│", "█", "▲", "▼"],
		track_style: (),
		ends_style: (),
		thumb_style: (fg: "#4f4872"),
	),
	song_table_format: [
		(
			prop: (kind: Group([
				(kind: Property(Track), default: (kind: Text("--"))),
				(kind: Text(" ")),
				(kind: Property(Artist), default: (kind: Text("Unknown"))),
				(kind: Text(" - ")),
				(kind: Property(Album), default: (kind: Text("Untitled")))
			])),
			width: "30%",
		),
		(
			prop: (
				kind: Property(Title), default: (kind: Text("Untitled"))
			),
			width: "55%",
		),
		(
			prop: (kind: Property(Duration),
				default: (kind: Text("-:--"))
			),
			width: "15%",
			alignment: Right,
		),
	],
	header: (
		rows: [
			(
				left: [
					(kind: Text("[RMPC] ")),
					(kind: Property(Song(Artist))),
					(kind: Text(" - ")),
					(kind: Property(Song(Album))),
					(kind: Text(" - ")),
					(kind: Property(Song(Title)))
				],
				center: [
					(kind: Property(Status(State)))
				],
				right: [
					(kind: Property(Widget(Volume)), style: (fg: "#eee8d5"))
				]
			)
		],
	),
	browser_song_format: [
		(
			kind: Group([
				(kind: Property(Track)),
				(kind: Text(" ")),
			])
		),
		(
			kind: Group([
				(kind: Property(Artist)),
				(kind: Text(" - ")),
				(kind: Property(Title)),
			]),
			default: (kind: Property(Filename))
		),
	],
)
